version: "2"
services:
  pi_google_dyn_dns:
    image: henryse/pi_google_dyn_dns:latest
    restart: always
    ports:
      - 8443
    volumes:
      - /var/lib/sslcerts:/usr/src/app/cert
      - /var/local/config/GoogleDynDNS:/usr/src/app/config
    environment:
      - "HOST=$DOCKER_IP"
      - "LOGSTASH_ENABLED=false"
      - "SERVICE_NAME=google_dyn_dns"
      - "SERVICE_443_CHECK_HTTPS=/health"
      - "SERVICE_TAGS=traefik.enable=true"